.root {
  p {
    transition: color 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }

  .title {
    display: block;
    margin-bottom: 15px;
  }

  .text {
    line-height: 28px;
    color: var(--grey-color);
  }

  &:hover {
    .title {
      color: var(--acent-primary-color);
    }

    .text {
      color: var(--white-color);
    }
  }

  .categories {
    display: flex;
    margin-top: 15px;

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      color: var(--grey-secondary-color);

      &:not(:last-child):after {
        margin: 0 8px;
        content: '• ';
      }
    }
  }
}