.body {
  display: flex;
  margin: 0 auto;
  padding: 30px 30px 110px;
  max-width: var(--max-width);
}

.content {
  width: 100%;
  display: flex;
  padding: 0 20px;
  max-width: 940px;
  justify-content: center;
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;

    & > div:first-child {
      display: none;
    }
  }

  .content {
    padding: 0;
  }
}