.root {
  border-bottom: 1px solid var(--dark-average-color);
}

.container {
  margin: 0 auto;
  padding: 15px 30px;
  max-width: var(--max-width);

  @media (max-width: 768px) {
    padding: 25px 30px;
  }
}

.logo {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}